In [967]:
#cleans the zomatoData to zomatoCleanData

In [968]:
import pandas as pd
import numpy as np
import ast
from datetime import datetime

In [969]:
df = pd.read_csv("zomato_csv/zomatoData.csv",encoding = "ISO-8859-1",na_values=["NaN","[]"])

In [970]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13919 entries, 0 to 13918
Data columns (total 20 columns):
restaurant_link           13919 non-null object
restaurant_ID             13919 non-null int64
restaurant_name           13919 non-null object
locality                  13919 non-null object
restaurant_category       13907 non-null object
photos_taken              13919 non-null int64
rating                    12954 non-null object
votes                     9361 non-null float64
cuisines                  13919 non-null object
approx_cost_for_2         13919 non-null int64
opening_timings           13894 non-null object
address                   13658 non-null object
latitude                  12751 non-null float64
longitude                 12751 non-null float64
more_info                 13908 non-null object
featured_in               13919 non-null object
most_liked_Food           13799 non-null object
most_liked_Service        4395 non-null object
most_liked_Look & Feel    3901 non-null object
reviews                   8052 non-null object
dtypes: float64(3), int64(3), object(14)
memory usage: 2.1+ MB

In [972]:
df.shape

(13919, 20)

In [875]:
df = df.drop_duplicates("restaurant_ID",keep='first')

In [ ]:
df.shape

In [ ]:
def listToTuple(reviews):
    if isinstance(reviews,str):
        reviewList = ast.literal_eval(reviews)
        if len(reviewList)>0 and isinstance(reviewList,list):
            return (reviewList[0],reviewList[1:])

In [878]:
df["most_liked_Food"] = df["most_liked_Food"].apply(listToTuple)

In [868]:
df["most_liked_Service"] = df["most_liked_Service"].apply(listToTuple)

In [869]:
df["most_liked_Look & Feel"] = df["most_liked_Look & Feel"].apply(listToTuple)

In [959]:
def formatTime(timing):
    if isinstance(timing,str):
        if timing is np.nan or timing == "[]":
            return "NA"
        timings = ast.literal_eval(timing)
        newtime = ['12:00' if timed == '12noon' else '00:00' if timed == "12midnight" else timed if ("24" in timed) else datetime.strptime(timed,'%I%p').strftime('%H:%M') if len(timed)<5 else datetime.strptime(timed,'%I:%M%p').strftime('%H:%M') for timed in timings]
        return newtime

In [960]:
df["opening_timings"] = df["opening_timings"].apply(formatTime)

In [961]:
df['cuisines'] = [x.split(",") if isinstance(x,str) else x for x in df["cuisines"]]

In [962]:
df['more_info'] = [x.split(",") if isinstance(x,str) else x for x in df["more_info"]]

In [873]:
#df.to_csv("zomato_clean_data/zomatoCleanData"+".csv",index=False)